/* app css stylesheet */
#img-logo {
    margin-top: -5px;
    margin-left: -5px;
    width: 32px;
    height: 32px;
}

.main-content {
    margin-top: 51px;
}

.negative {
    background-color: #ff4c4c
}

.positive {
    background-color: #42ff75
}